<div class='main-container'>

    <h2>{{title}}</h2>


    <div class="input-group">
            <label class="drop-label">  Please select Stock from drop down</label>
            <select class="drop-select" #select [(ngModel)]="current" (change)="logDropdown(select.value)">
              <option *ngFor="let item of stockList" [value]="item.id">{{item.name}}</option>
            </select>
    </div>
 
    <div style="height: 100%">
        <div id="hchart" #chartTarget> 
        </div>
    </div> 
 
    
</div>



    