.main-container { 
  padding-left: 50px;
  
  
    

}

h3 {
    text-align: center;
    color: red;
    text-decoration-line: underline;
}
 

#hchart {
  width: 1480px;
  height: 680px;
  margin: 1em;
  border: 1px solid gray;
}