<div class="top-container">

    <h2>{{subtitle}}</h2>
    
  <div class="input-group">
    <label class="drop-label">  Please select Stock from drop down</label>
    <select class="drop-select" #select [(ngModel)]="current" (change)="logDropdown(select.value)">
      <option *ngFor="let item of stockList" [value]="item.id">{{item.name}}</option>
    </select>
  </div>




  <div *ngIf="chart">
    <canvas id="canvas">{{ chart }}</canvas>
  </div> 


</div>
