<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-1'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-11 body-content'>
        <mat-toolbar color="primary">
            <mat-toolbar-row> 
              <span fxFlex fxFlexOffset="20px">Angular - Data Visualization </span> 
                <span>Welcome to Lawrence Sit Lab</span>   
            </mat-toolbar-row>
          </mat-toolbar>
        
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



 


