@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
    padding-left: 10px;
  }
 

  .AppTitle {
 
    flex: 1 1 auto;
  }
}
