<div class='main-container'>
 
<h2>{{subtitle}}</h2>


<div class="input-group">
        <label class="drop-label">  Please select Stock from drop down</label>
        <select class="drop-select" #select [(ngModel)]="current" (change)="logDropdown(select.value)">
          <option *ngFor="let item of stockList" [value]="item.id">{{item.name}}</option>
        </select>
      </div>


<svg width="1600" height="800"></svg>
</div>