<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
             
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
            <ul class='nav navbar-nav'> 
 
                <li> <a class='navbar-brand' id="grp-sep">HighChart</a></li>
                <span class='clearfix'></span>
        
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/high-chart"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-stats'></span> Line Chart 
                    </a>
                </li>


                <li> <a class='navbar-brand' id="grp-sep">Angular-nvd3</a></li>
                <span class='clearfix'></span>

                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/line-chart"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-signal'></span> Line Chart 
                    </a>
                </li>
                
             
                
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/bar-chart"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-signal'></span> Bar Chart
                    </a>
                </li>
     
                
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/pie-chart"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-signal'></span> Pie Chart
                    </a>
                </li>

                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/donut-chart"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-signal'></span> Donut Chart
                    </a>
                </li>



                <li> <a class='navbar-brand' id="grp-sep">chart.js</a></li>
                <span class='clearfix'></span>
        
                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/stock-chart"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-stats'></span> Line Chart 
                    </a>
                </li>

                <li> <a class='navbar-brand'id="grp-sep">d3.js</a></li>
                <span class='clearfix'></span>

                <li [routerLinkActive]='["link-active"]'>
                    <a [routerLink]='["/stock-chart-d3"]' (click)='collapse()'>
                        <span class='glyphicon glyphicon-stats'></span> Line Chart 
                    </a>
                 </li>

            </ul>
        </div>
    </div>
</div>
